@model E_Learning_Management_System.Models.ViewModel

@{
    ViewBag.Title = "Schools";
}


@Html.ActionLink("Add", "School", new { }, new { @class = "btn btn-primary" })
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLarge01">
        Large modal
    </button>
<section class="hk-sec-wrapper">
    <h5 class="hk-sec-title">Schools List</h5>
    <div class="row">
        <div class="col-sm">
            <div class="table-wrap table-responsive">
                <table id="datable_1" class="table table-hover w-100 display pb-30">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model =>model.School.SchoolName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.School.SchoolAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.School.Contact)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.School.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.School.Status)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SchoolsList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SchoolName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SchoolAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contact)
                                </td>
                                <td>
                                    <img src="@item.Image" height="50" width="50" />
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <span class="badge badge-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">InActive</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.SchoolID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.SchoolID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.SchoolID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModalLarge01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLarge01" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_AddSchools",Model.School);
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>

